:root {
--main-color: #212121;
--secondary-color: #2196F3;
--description-color: #757575;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    margin: 0;
    border: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.logo {
    margin-right: 93px;
}
.logo-link {
    display: block;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: black;
    padding-top: 24px;
    padding-bottom: 25px;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--secondary-color);
}

.container.header {
    display: flex;
    align-items: center;
    
}
.navigation {
}

.navigation-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation-item {
    margin-right: 50px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    display: block;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--secondary-color);
}

.contacts {
    margin-left: 344px;
}

.contacts-list {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

.contacts-item {
    margin-right: 50px;
}

.contacts-item:last-child {
    margin-right: 0;
}

.contacts-link {
    color: var(--description-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--secondary-color);
}

.hero-section {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.container.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-item {
    color: white;
    width: 696px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-bottom: 30px;
}

.hero-button {
    width: 216px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    color: white;
    background-color: var(--secondary-color);
    letter-spacing: 0.06em;
    padding: 10px 24px;
    border-radius: 4px;
}